'menu': [
  {
    'label': 'Titanium'
    'submenu': [
      {
        'label': 'Create',
        'submenu': [

          {
            'label': 'Controller'
            'command': 'ti-create:controller'
          },{
            'label': 'Widget'
            'command': 'ti-create:widget'
          }
        ]
    }
    ]
  }
]
